body {
  font-family: sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.6;
}
header, section, footer {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
header {
  background-color: #f9f9f9;
  text-align: center;
}
button {
  margin: 1rem 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #4b2aad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #371f8d;
}
h1, h2 {
  color: #4b2aad;
}
footer {
  background-color: #f0f0f0;
  text-align: center;
}
